.fade.in {
    opacity: 1;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    outline: 0;
    background-color: #1117;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

.modal.in .modal-dialog {
    transform: translate(0, 0);
}

.modal-content {
    outline: 0;
    border: none;
    width: 478px;
    //width: 50rem;
    border-radius: 5px;
    text-align: center;
}

.modal-dialog {
    //max-width: 50rem;
}

button.close {
    padding: 0;
    background: 0 0;
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;

    &:focus,
    &:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        opacity: .5;
    }
}

.modal-header {
    padding: 12px 20px;
    background-color: white;
    justify-content: center;

    .modal-title {
        margin: 0;
        line-height: 1.42857143;
        text-align: center;
        color: #8a6d3b;
    }
}

.modal {

    .btn-cancel,
    .btn-ok {
        border: none;
        height: 30px;
        padding-top: 4px;
    }

    button.btn-default {
        background-color: #C1C1C1;
    }
}

.btn {
    box-shadow: inset 0px 0px 0px #807FC7, 0px 0px 0px 0px #808080, 0px 0px 2px #595959;
    background-color: #ffffff;
}

.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.modal-body {
    color: #797979;
    // padding: 0px;
    padding: 0px 18px;
}

.modal-footer {
    display: block;
    text-align: center;
    padding-bottom: 13px;

    .btn+.btn {
        margin-left: 5px;
    }

    .proceed-btn {
        display: inline-block;
        background-color: rgb(91, 177, 47);
        color: #ffffff !important;
        padding: 7px 8px;
        font-size: 12px;
        line-height: 1.3;
        border-radius: 3px;
        border: none
    }
}

.modal-backdrop {
    opacity: 0.5 !important;
}